* {
    margin: 0;
}


.App {
   
    height: 100vh;
    width: 100%;
}
.App_pythonpage {

    height: 50vh;
    width: 100%;
}
footer {
    display: block;
    background-color: red;
    height: 80px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

hr {
    border-top: none;
    
  }

  ul {
    list-style-type: none;
  }