* {
    margin: 0;
}


.App {
   
    height: 100vh;
    width: 100%;
    background-color: #f8f9fa  !important;
}
.App_pythonpage {

    height: 50vh;
    width: 100%;
}
.containers{
    background-color: #f8f9fa !important;
}
.headers{
    background-color: #A7DBD8;
}
.btn-warning {
    color: #000 !important;
    background-color: #F38630 !important;
    border-color: #F38630  !important;
}
.footers{
    background-color: #A7DBD8;
}
.footer{
    display: block;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

hr {
    border-top: none;
    
  }

  ul {
    list-style-type: none;
  }

.animacion:hover {
    text-shadow: none !important;
    box-sizing: border-box !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
    z-index: 2;
    cursor: pointer !important;

}